name: Build Windows EXE

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install pyinstaller

      - name: Install Playwright Browsers
        run: |
          python -m playwright install chromium

      - name: Build EXE
        run: |
          $pw = "$env:USERPROFILE\AppData\Local\ms-playwright"
          pyinstaller --onefile --windowed --clean --add-data "$pw;ms-playwright" --icon icon.ico app.py
        shell: pwsh


      - name: Upload EXE Artifact
        uses: actions/upload-artifact@v4
        with:
          name: WhatsApp-Sender-EXE
          path: dist/app.exe
